.burger-icon {
	width: 40px;
	height: 40px;
	margin: 5px;
	cursor: pointer;
}
.mobile-menu-burger {
	left: -110vw;
	position: fixed;
	background: #FFF;
	width: 110vw;
	height: 100vh;
	text-align: center;
	top: 0;
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.link-burger {
	font-size: 24px;
	color: blue;
	line-height: 40px;	
}
.exit-mobile-menu {
	font-size: 64px;
	color: #000;
	margin-top: -100px;
}